*{
 background-image:url("R.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: black;
}
label{
    font-size: 20px;
    color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
text-align: center;
margin-top: 200px;
}
input{
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 10px yellow;
    font-size: 25px;
}
.button{
    font-size: 20px;
    background-color: blue;
    color: #fff;
    height: auto;
    width: 200px;
    /* border: none; */
    padding: 10px;
    border-radius: 10px;
}